* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.button {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 20rem;
  height: 40%;
  padding: 16px;
  background: white;
  border: 1em solid rgb(215, 221, 233);
}

/* logo page /

.inner-container {
  border: 1px dotted red;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.identity {
  width: 50%;
  border: 1px solid blue;
}

.inputArea {
  width: 50%;
  align-items: center;
  border: 1px solid green;
}

#input-container {
  margin: auto;
  width: 300px;
  height: 300px;
  position: center;
  border: 1px solid coral;
}

.intro-area {
  margin: auto;
  width: 300px;
  height: 300px;
  position: center;
  border: 1px solid coral;
}

#logo-login {
  margin: auto;
  width: 50%;
}

/ main page/

.main {
  margin: auto;
  width: 95vw;
  height: 40px;
  align-items: center;
  border: 1px dotted red;
}

/ .inner {
  margin: auto;
  width: 95vw;
  border: 1px dotted rgb(67, 80, 139);
} /
/ modal */