* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.profileImg {
  width: 3em;
  height: 3em;
  border-radius: 3em;
}

span {
  width: 8em;
}

.button {
  cursor: pointer;
  display: block;
  border: white;
}

button:hover {
  background-color: rgb(137, 178, 206);
  color: white;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid rgb(221, 221, 221);
  -webkit-appearance: none;
}

.modal {
  z-index: 1050;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 20rem;
  height: 50%;
  padding: 16px;
  background: white;
  border: 1px solid rgb(215, 221, 233);
  box-shadow: 0 0 100vw #dbdbdb;
}

/* logo page */

.project-name {
  margin: none;
}

.page1 {
  text-align: center;
  margin-top: 5%;
  width: 70%;
  height: 13%;
}

#forget {
  font-size: 0.8em;
}

.inner-container {
  /* border: 1px dotted red; */
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.identity {
  width: 50%;
  /* border: 1px solid blue; */
}

.inputArea {
  width: 50%;
  align-items: center;
  /* border: 1px solid green; */
}

#input-container {
  border-radius: 2px;
  margin: auto;
  width: 400px;
  height: 450px;
  position: center;
  border: 1px solid rgb(107, 107, 107);
  margin-top: 20%;
  margin-left: 10%;
  display: block;
  justify-content: center;
  align-items: center;
}

.intro-area {
  margin: auto;
  margin-right: 15%;
  width: 400px;
  height: 400px;
  position: center;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 20%;
}

#logo-login {
  margin: auto;
  width: 50%;
}

.container {
  margin-top: 22%;
}

/* map page */

.main {
  margin: auto;
  width: 95vw;
  height: 3em;
  align-items: center;
  border: 1px dotted red;
}
.inner {
  margin: auto;

  width: 95vw;
  border: 1px dotted rgb(67, 80, 139);
}

.top {
  position: relative;
  display: flex;
  margin: auto;
}

.side {
  width: 25vw;
}

#top-bar {
  width: 95vw;
  margin: auto;
  align-items: center;
  text-align: center;
}

#myProfileBtn {
  width: 2.8em;
  height: 2.8em;
  text-align: center;
  background-color: azure;
  border-radius: 3em;
}

#myProfilelogo {
  width: 2.8em;
  height: 2.8em;
}

#map {
  width: 70vw;
  height: 85vh;
}
/* modal */
